<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f6702896-b4f5-40ab-9b59-1faca7a314fd/resourceGroups/jornada-dot-net/providers/Microsoft.Web/sites/devfitness-jornada-dotnet</ResourceId>
    <ResourceGroup>jornada-dot-net</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://devfitness-jornada-dotnet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e58aae53-7968-42fa-b3ff-7a40b946c047</ProjectGuid>
    <PublishUrl>https://devfitness-jornada-dotnet.scm.azurewebsites.net/</PublishUrl>
    <UserName>$devfitness-jornada-dotnet</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>